{# NT/PlatformBundle/Resources/views/Command/index.html.twig #}

{% extends "NTPlatformBundle::layout.html.twig" %}

    
{% block title %}{{ parent() }} - Billeterie{% endblock %}


{% block body %}

<div class="container">
    
    <div class="jumbotron row" id="qui">

        <h1>Billeterie</h1>

        <p>
            Vous pouvez commander plusieurs billets en une seule commande. Il suffit de rentrer votre email, d'ajouter autant de billets que vous voulez, de les remplir et d'envoyer le tout !
        </p>

        <div class="well">

          {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}

          {{ form_row(form.email) }}
          {{ form_row(form.tickets) }}

          <a href="#" id="add_ticket" class="btn btn-primary">Ajouter un billet</a>
          {{ form_end(form) }}


        </div>

    </div>

</div>

{% endblock %}



{% block javascripts %}

<!--On charge la bibliothèque jQuery. Ici, je la prends depuis le CDN google-->
<!--mais si vous l'avez en local, changez simplement l'adresse.-->
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script src="{{ asset('js/createTickets.js') }}"></script>

{% endblock %}