{# NT/PlatformBundle/Resources/views/Home/index.html.twig #}

{% extends "NTPlatformBundle::layout.html.twig" %}

    
{% block title %}{{ parent() }} - Accueil{% endblock %}


{% block body %}
    
{#    Caroussel
#} 
    <div id="carousel" class="carousel slide">
        <ol class="carousel-indicators">
            <li data-target="#carousel" data-slide-to="0" class="active"></li>
            <li data-target="#carousel" data-slide-to="1"></li>
            <li data-target="#carousel" data-slide-to="2"></li>
            <li data-target="#carousel" data-slide-to="3"></li>
        </ol>
        <div class="carousel-inner">
            <div class="item active"><img src="{{ asset('assets/img/louvre1.jpg') }}" alt="Architecture">
                <h1 class="carousel-caption">Une architecture futuriste</h1>
            </div>
            <div class="item"><img src="{{ asset('assets/img/louvre2.jpg') }}" alt="Musée">
                <h1 class="carousel-caption">Un musée entretenu depuis 1793</h1>
            </div>
            <div class="item"><img src="{{ asset('assets/img/louvre3.jpg') }}" alt="Statues">
                <h1 class="carousel-caption">Des statues datant de l'antiquité</h1>
            </div>
            <div class="item"><img src="{{ asset('assets/img/louvre4.jpg') }}" alt="Collection">
                <h1 class="carousel-caption">Une collection de 460 000 oeuvres</h1>
            </div>
        </div>
        <a class="left carousel-control" href="#carousel" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left"></span>
        </a>
        <a class="right carousel-control" href="#carousel" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right"></span>
        </a>
    </div>
                
    <div class="container">


      <div class="jumbotron row" id="accueil">
        <h1 class="text-center">Un musée réputé pour la Joconde</h1>
        <img class="col-sm-12 col-md-5" src="{{ asset('assets/img/joconde.jpg') }}" alt="Accueil">     
        <p class="col-sm-12 col-md-7">La Joconde, ou Portrait de Mona Lisa, est un tableau de l'artiste italien Léonard de Vinci, réalisé entre 1503 et 1506 ou entre 1513 et 1516, et peut-être jusqu'à 1519, qui représente un portrait mi-corps, probablement celui de la florentine Lisa Gherardini, épouse de Francesco del Giocondo. Acquise par François Ier, cette peinture à l'huile sur panneau de bois de peuplier de 77 × 53 cm est exposée au musée du Louvre à Paris. La Joconde est l'un des rares tableaux attribués de façon certaine à Léonard de Vinci.

        La Joconde est devenue un tableau éminemment célèbre car, depuis sa réalisation, nombre d'artistes l'ont prise comme référence. À l'époque romantique, les artistes ont été fascinés par ce tableau et ont contribué à développer le mythe qui l'entoure, en faisant de ce tableau l’une des œuvres d'art les plus célèbres du monde, si ce n'est la plus célèbre : elle est en tout cas considérée comme l'une des représentations d'un visage féminin les plus célèbres au monde. Au xxie siècle, elle est devenue l'objet d'art le plus visité au monde, juste devant le diamant Hope, avec 20 000 visiteurs qui viennent l'admirer et la photographier quotidiennement.</p>
       
      </div>

      <div class="jumbotron row" id="qui">
        <h1 class="text-center">Une boutique avec une large gamme</h1>
        <img class="col-sm-12 col-md-5 col-md-push-7" src="{{ asset('assets/img/boutiquelouvre.png') }}" alt="Equipe"> 
        <p class="col-sm-12 col-md-7 col-md-pull-5">Notre boutique vous propose une large gamme de produits allant du livre jusqu'aux goodies en tout genre en passant par les vêtements et les cartes postales. Vous trouverez votre bonheur !</p>
      </div>

    </div>
        
{% endblock %}

{% block javascripts %}
    <!-- jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <!-- Javascript de Bootstrap -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <!-- Carousel -->
    <script src="{{ asset('js/carousel.js') }}"></script>
{% endblock %}



